body, html{margin: 0 auto; display: block; min-width: 480px; height:100%; overflow: hidden; font-size: 100%; font-family: "微软雅黑";}

.wrapper{display: -webkit-flex; display: flex; flex-flow: row wrap; -webkit-flex-flow: row wrap; display: -ms-flex; -ms-flex-flow:row wrap; height: 100%;}
.sidebar{display: inline-block; width: 25%; height: 100%;background: #99CC99;}
	.s_header{width: 80%; margin-left:20%; height: 100%; }
		header{font-family: "Paranoid"; font-size: 3em; color:#FFFF99; margin-top: 50px; overflow: hidden;}
			.header{float: left;}
			.loading{width: 32px; height: 32px; float: right; margin-top:15px; margin-right: 10px;}
			.bar{width: 6px; height: 18px; background: #FFFF99; float: left; margin-right: 4px; margin-top: 6px;
				-webkit-animation-duration:1s; -webkit-animation-iteration-count:infinite; -webkit-animation-name:loadingbar;}
			.loading .bar:nth-child(2){-webkit-animation-delay:0.1s;}
			.loading .bar:nth-child(3){-webkit-animation-delay:0.2s;}

		nav{text-align: right; margin-top: 20%;}
<<<<<<< HEAD
			nav li{line-height: 2em; font-size: 1.5em; padding-right: 25%;}
				nav li a{color: #fff; text-decoration: none;}
				.item{width: 95%; margin-bottom: 1%; height: 99%; padding-right: 5%;}
				.item .li-title{background: -webkit-linear-gradient(to bottom,#99CC91 0%,#99CC99 100%);
					background: -ms-linear-gradient(to bottom,  rgba(236,241,244,1) 0%,rgba(190,202,217,1) 100%);
					background: linear-gradient(to bottom,  rgba(236,241,244,1) 0%,rgba(190,202,217,1) 100%);}
=======
			nav li{
				line-height: 2em; 
				font-size: 1.5em; 
				padding-right: 25%; 
				width: 75%; 
			}
				.li-wrapper{
					position: relative;
					display: block; 
					height: 2em;
					-webkit-perspective: 4000px;
				       -moz-perspective: 4000px;
				        -ms-perspective: 4000px;
				         -o-perspective: 4000px;
				            perspective: 4000px;
				    cursor: pointer;
				    vertical-align: top;
				    margin-bottom: 1em;	
				}
				.item{
					height: 2em; width: 100%;
					font-weight: bold;
					-webkit-transform-style: preserve-3d;
					-moz-transform-style: preserve-3d;
					-ms-transform-style: preserve-3d;
					-o-transform-style: preserve-3d;
					transform-style: preserve-3d;
					-webkit-transition: -webkit-transform .6s;
					-moz-transition: -moz-transform .6s;
					-ms-transition: -ms-transform .6s;
					-o-transition: -o-transform .6s;
					transition: transform .6s;
				    color: #FFCC99;
				}
				.li-title{
					position: absolute;
					top: 0px;
					padding-right: 5%;
					width: 95%;
					height: 2em;
					border-radius: 3px;
					-webkit-transform: translateZ(1em);
					-moz-transform: translateZ(1em);
					-ms-transform: translateZ(1em);
					-o-transform: translateZ(1em);
					transform: translateZ(1em);
					background: -moz-linear-gradient(top,  #99CC99 0%, #FFFFCC 100%);
				    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(236,241,244,1)), color-stop(100%,rgba(190,202,217,1)));*/
				    background: -webkit-linear-gradient(top,  #99CC99 0%,#FFFFCC 100%);
				    background: -o-linear-gradient(top,  #99CC99 0%,#FFFFCC 100%);
				    background: -ms-linear-gradient(top,  #99CC99 0%,#FFFFCC 100%);
				    background: linear-gradient(to bottom,  #99CC99 0%,#FFFFCC 100%);
				    box-shadow: 0px 3px 8px rgba(0,0,0,0.3);
				}
				.li-info{
					position: absolute;
					top:0px;
					padding-right: 5%;
					width: 95%;
					height: 2em;
					text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
					box-shadow: none;
					-webkit-transform: rotateX(-90deg) translateZ(1em);
				    -moz-transform: rotateX(-90deg) translateZ(1em);
				    -ms-transform: rotateX(-90deg) translateZ(1em);
				    -o-transform: rotateX(-90deg) translateZ(1em);
				    transform: rotateX(-90deg) translateZ(1em);
				    background: -moz-linear-gradient(top,  #99CC99 0%, #FFFFCC 100%);
				    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(236,241,244,1)), color-stop(100%,rgba(190,202,217,1)));*/
				    background: -webkit-linear-gradient(top,  #99CC99 0%,#FFFFCC 100%);
				    background: -o-linear-gradient(top,  #99CC99 0%,#FFFFCC 100%);
				    background: -ms-linear-gradient(top,  #99CC99 0%,#FFFFCC 100%);
				    background: linear-gradient(to bottom,  #99CC99 0%,#FFFFCC 100%);
				    -webkit-transition: all .6s;
				    -moz-transition: all .6s;
				    -ms-transition: all .6s;
				    -o-transition: all .6s;
				    transition: all .6s;
				}
				.item:hover {
			      -webkit-transform: translateZ(-50px) rotateX(95deg);
			         -moz-transform: translateZ(-50px) rotateX(95deg);
			          -ms-transform: translateZ(-50px) rotateX(95deg);
			           -o-transform: translateZ(-50px) rotateX(95deg);
			              transform: translateZ(-50px) rotateX(95deg);
			    }
			    .item:hover .li-title {
			        box-shadow: none;
			        border-radius: 15px;
			    }
			      
			    .item:hover .li-info {
			        box-shadow: 0px 3px 8px rgba(0,0,0,0.3);
			        border-radius: 3px;
			    }
>>>>>>> df2340ccf8fae12b1dbcaafe01450a5761786ec9

.content{display: inline-block; width: 75%; height:100%; overflow:auto;}
	.c_content{width: 80%; padding-left: 10%; margin-top: 10px;}
		.box{padding: 3%;}
		.box_hover:hover{ box-shadow: 0px 0px 50px #ccc; background: #fff; -webkit-animation-iteration-count: infinite; -webkit-animation-name: boxshadow; -webkit-animation-duration: 2s;
			-ms-animation-iteration-count: infinite; -ms-animation-name: boxshadow; -ms-animation-duration: 2s;animation-iteration-count: infinite; animation-name: boxshadow; animation-duration: 2s;
			-moz-animation-iteration-count: infinite; -moz-animation-name: boxshadow; -moz-animation-duration: 2s;}
		h2{font-size: 1.5em; line-height: 2em; color: #99CC99;}

		.b_bread{color: #999; font-size: 0.5em;}
		.time{background: url(../image/time.png) center left no-repeat; padding-left: 20px; margin-right: 20px;}
		.tag{background: url(../image/tag.png) center left no-repeat; padding-left: 20px;}
		.text{font-size: 1em; line-height: 1.5em; margin-top: 10px;letter-spacing: normal;word-spacing: normal;vertical-align: top;text-rendering: auto; overflow:hidden;}



.contact{width: 64px; height: 64px; background: url(../image/contact.png) no-repeat; position: fixed; right: 10px; bottom: 200px;}
	.contact_div{width: 200px; overflow: hidden; border: 1px solid #FFCC99; border-right:0px; border-radius: 5px; position: absolute; right: 48px; top: 15px;
		-moz-transition:width 1s ease; /* Firefox 4 */-webkit-transition:width 1s ease; /* Safari and Chrome */-o-transition:width 1s ease; /* Opera */}
/*.contact:hover .contact_div{width: 200px;}*/

@font-face{
	font-family: Paranoid;
	src: url(../font/Paranoid.otf);		
}


@-webkit-keyframes loadingbar {
	 0% { }
	10% { margin-top:5px; height:22px;  background-color:#FFCC99; }
	20% { margin-top:0px; height:32px;  background-color:#FFCC99; }
	30% { margin-top:1px; height:30px;  background-color:#FFCC99; }
	40% { margin-top:3px; height:26px; }
	50% { margin-top:5px; height:22px; }
	60% { margin-top:6px; height:18px; }
	70% { }
	/* Missing frames will cause the extra delay */
	100% { }
}
@-ms-keyframes loadingbar {
	 0% { }
	10% { margin-top:5px; height:22px;  background-color:#FFCC99; }
	20% { margin-top:0px; height:32px;  background-color:#FFCC99; }
	30% { margin-top:1px; height:30px;  background-color:#FFCC99; }
	40% { margin-top:3px; height:26px; }
	50% { margin-top:5px; height:22px; }
	60% { margin-top:6px; height:18px; }
	70% { }
	/* Missing frames will cause the extra delay */
	100% { }
}
@-moz-keyframes loadingbar {
	 0% { }
	10% { margin-top:5px; height:22px;  background-color:#FFCC99; }
	20% { margin-top:0px; height:32px;  background-color:#FFCC99; }
	30% { margin-top:1px; height:30px;  background-color:#FFCC99; }
	40% { margin-top:3px; height:26px; }
	50% { margin-top:5px; height:22px; }
	60% { margin-top:6px; height:18px; }
	70% { }
	/* Missing frames will cause the extra delay */
	100% { }
}
@keyframes loadingbar {
	 0% { }
	10% { margin-top:5px; height:22px;  background-color:#FFCC99; }
	20% { margin-top:0px; height:32px;  background-color:#FFCC99; }
	30% { margin-top:1px; height:30px;  background-color:#FFCC99; }
	40% { margin-top:3px; height:26px; }
	50% { margin-top:5px; height:22px; }
	60% { margin-top:6px; height:18px; }
	70% { }
	/* Missing frames will cause the extra delay */
	100% { }
}
@-webkit-keyframes boxshadow{
	0%{
		box-shadow: 0px 0px 50px #ccc;
	}
	50%{
		box-shadow: 0px 0px 0px #ccc;
	}
	100%{
		box-shadow: 0px 0px 50px #ccc;

	}
}